@model IEnumerable<Blog_MVC.Models.Blog>

@{
    ViewData["Title"] = "Index";
}
<center> <h1 class="display-4">Welcome</h1>  </center>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blog_Question)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Blog_Repence)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Blog_Question)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.Blog_Repence)
            </td>
                -->
            <td>
                @Html.DisplayFor(modelItem => item.User_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>
